<div class="scroll-up fixed-action-btn hide-on-med-and-down" style="bottom: 75px; right: 60px;">
  <a href="#" class="btn-floating btn-large pink accent-1">
    <i class="Medium material-icons">arrow_upward</i>
  </a>
</div>