<%= render 'shared/nav' %>

<div id="app">
  <p>Hello {{ name }}</p>
  <p><input type="text" v-model="name"></p>
</div>

<script>
(function() {
  'use strict';

  var vm = new Vue({
    el: '#app',
    data: {
      name: 'murakami'
    }
  });
})();
</script>

<%= render 'shared/scroll' %>
<%= render 'shared/footer' %>
<%= render 'shared/script' %>